#!/bin/bash

# ${1} source file for primary input
# ${2} main stylesheet file
# ${3} output option, e.g. -Tout

# Saxon 11 requires XmlResolver

declare -r SAXON=/usr/local/lib/{{ saxon_he_jar }}
declare -r XMLRESOLVER=/usr/local/lib/{{ xmlresolver_jar }}

java --class-path "${SAXON}:${XMLRESOLVER}" \
  net.sf.saxon.Transform \
  -s:${1} \
  -xsl:${2} \
  ${3}
